.env
__pycache__/
.DS_store
outputs/
*.sif
*agent_systems/
agent_systems/
*.pyc
**/*.pyc
bin/
benchmarking/datasets/*.h5ad
dev/
*/dist/
*.log
benchmarking/auto_runs/*
benchmarking/metadata_benchmarks/benchmark_data/
benchmarking/metadata_benchmarks/results/
benchmarking/task_benchmarks/results/
benchmarking/task_benchmarks/analysis/plots/
!benchmarking/auto_runs/auto_run_template.sh
*.note
